Sprint_one/Service Descriptors/RetailShoppingServices.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.tibco.com/RetailShoppingServices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RetailShoppingServices" targetNamespace="http://www.tibco.com/RetailShoppingServices/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.tibco.com/RetailShoppingServices/">
      <xsd:element name="OrderCreate">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="ItemNo" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>


          	<xsd:element name="ItemName" type="xsd:string" minOccurs="0" maxOccurs="unbounded"></xsd:element>
          	<xsd:element name="Quantity" type="xsd:int" minOccurs="0" maxOccurs="unbounded"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="OrderCreateResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="OrderConfirm">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="OrderConfirmResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="OrderCancel">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="OrderCancelResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="OrderCreateRequest">
    <wsdl:part element="tns:OrderCreate" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="OrderCreateResponse">
    <wsdl:part element="tns:OrderCreateResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="OrderConfirmRequest">
  	<wsdl:part name="parameters" element="tns:OrderConfirm"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="OrderConfirmResponse">
  	<wsdl:part name="parameters" element="tns:OrderConfirmResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="OrderCancelRequest">
  	<wsdl:part name="parameters" element="tns:OrderCancel"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="OrderCancelResponse">
  	<wsdl:part name="parameters" element="tns:OrderCancelResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RetailShoppingServices">
    <wsdl:operation name="OrderCreate">
      <wsdl:input message="tns:OrderCreateRequest"/>
      <wsdl:output message="tns:OrderCreateResponse"/>
    </wsdl:operation>
    <wsdl:operation name="OrderConfirm">
    	<wsdl:input message="tns:OrderConfirmRequest"></wsdl:input>
    	<wsdl:output message="tns:OrderConfirmResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RetailShoppingServicesSOAP" type="tns:RetailShoppingServices">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="OrderCreate">
      <soap:operation soapAction="http://www.tibco.com/RetailShoppingServices/OrderCreate"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RetailShoppingServices">
    <wsdl:port binding="tns:RetailShoppingServicesSOAP" name="RetailShoppingServicesSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
